html, body {
    min-height:100%;
    height:100%;
    font-size:1.5rem;
    font-weight:400;
    line-height:2rem;
    text-transform:initial;
    letter-spacing:initial;
    font-weight:400;
    color:#212b36;
    font-family:-apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif;
}
@media (min-width: 40em) {
    html, body {
        font-size:1.4rem;
   }
}
html {
    position:relative;
    font-size:62.5%;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    text-size-adjust:100%;
    text-rendering:optimizeLegibility;
}
body {
    min-height:100%;
    margin:0;
    padding:0;
    background-color:#f6f6f7;
}
*, *::before, *::after{
    box-sizing:border-box;
}
h1, h2, h3, h4, h5, h6, p {
    margin:0;
    font-size:1em;
    font-weight:400;
}
.Polaris-Page {
    margin:0 auto;
    padding:0;
    max-width:99.8rem;
}
.Polaris-Page--InstallApp {
    max-width: 70rem;
}
@media (min-width: 30.625em) {
    .Polaris-Page {
        padding:0 2rem;
   }
}
@media (min-width: 46.5em) {
    .Polaris-Page {
        padding:0 3.2rem;
   }
}
.Polaris-Page__Content {
    width: 100%;
    margin:2rem 0;
}
@media (min-width: 46.5em) {
    .Polaris-Page__Content {
        margin-top:2rem;
   }
}
@media (min-width: 46.5em) {
    .Polaris-Page {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
   }
}
.Polaris-Layout {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:start;
    -ms-flex-align:start;
    align-items:flex-start;
    margin-top:-2rem;
    margin-left:-2rem;
}
.Polaris-Layout__Section {
    -webkit-box-flex:2;
    -ms-flex:2 2 48rem;
    flex:2 2 48rem;
    min-width:51%;
}
.Polaris-Layout__Section--fullWidth {
    -webkit-box-flex:1;
    -ms-flex:1 1 100%;
    flex:1 1 100%;
}
.Polaris-Layout__Section {
    max-width:calc(100% - 2rem);
    margin-top:2rem;
    margin-left:2rem;
}
.Polaris-Stack {
    margin-top:-1.6rem;
    margin-left:-1.6rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-align:stretch;
    -ms-flex-align:stretch;
    align-items:stretch;
}
.Polaris-Stack > .Polaris-Stack__Item {
    margin-top:1.6rem;
    margin-left:1.6rem;
    max-width:calc(100% - 1.6rem);
}
.Polaris-Stack__Item {
    -webkit-box-flex:0;
    -ms-flex:0 0 auto;
    flex:0 0 auto;
    min-width:0;
}
.Polaris-Stack--distributionTrailing {
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    justify-content:flex-end;
}
.Polaris-Stack--distributionTrailingCustomSpacing {
    margin-right:2rem;
}
@media (min-width: 30.625em) {
    .Polaris-Stack--distributionTrailingCustomSpacing {
        margin-right:0;
   }
}
.Polaris-Stack--vertical {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
}
.Polaris-Card {
    overflow:hidden;
    background-color:white;
    box-shadow:0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
}
.Polaris-Card + .Polaris-Card {
    margin-top:2rem;
}
@media (min-width: 30.625em) {
    .Polaris-Card {
        border-radius:8px;
   }
}
.Polaris-Card__Header {
    padding:2rem 2rem 0;
}
.Polaris-Card__Section {
    padding:2rem;
}
.Polaris-Card__Section + .Polaris-Card__Section {
    border-top:.1rem solid #e4e5e7;
}
.Polaris-Card__Section--subdued {
    background-color:#fafbfb;
}
.Polaris-Button {
    position:relative;
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    min-height:3.6rem;
    min-width:3.6rem;
    margin:0;
    padding:0.7rem 1.6rem;
    background-color:#ffffff;
    border:1px solid #babfc3;
    border-top-color: #c9cccf;
    border-bottom-color: #babfc4;
    box-shadow:0 1px 0 0 rgba(0, 0, 0, 0.05);
    border-radius:4px;
    line-height:1;
    color:#202223;
    text-align:center;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    text-decoration:none;
    transition-property:background, border, box-shadow;
    transition-duration:100ms;
    transition-timing-function:cubic-bezier(0.64, 0, 0.35, 1);
}
.Polaris-Button:hover {
    background-color:#f6f6f7;
}
.Polaris-Button:focus {
    outline:0;
}
.Polaris-Button:focus:after {
    box-shadow:0 0 0 .2rem #448fff;
}
.Polaris-Button:after {
    content:'';
    position:absolute;
    z-index:1;
    top:-.2rem;
    right:-.2rem;
    bottom:-.2rem;
    left:-.2rem;
    display:block;
    pointer-events:none;
    box-shadow:0 0 0 -.2rem #448fff;
    transition:box-shadow 100ms cubic-bezier(0.64, 0, 0.35, 1);
    border-radius:5px;
}
.Polaris-Button:active {
    background-color:#f1f2f3);
}
.Polaris-Button__Content {
    font-size:1.4rem;
    font-weight:500;
    line-height:1.6rem;
    text-transform:initial;
    letter-spacing:initial;
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    min-width:1px;
    min-height:1px;
}
.Polaris-Button--primary {
    background-color:#008060;
    border-color:transparent;
    border-width:0;
    color:white;
}
.Polaris-Button--primary:hover {
    background-color:#006e52;
    border-color:transparent;
    color:white;
}
.Polaris-Button--primary:active {
    background-color:#005e46;
    border-color:transparent;
}
.Polaris-Button--sizeLarge {
    padding:1.1rem 2.4rem;
}
.Polaris-Heading {
    font-size:1.7rem;
    font-weight:600;
    line-height:2.4rem;
    margin:0;
}
@media (min-width: 40em) {
    .Polaris-Heading {
        font-size:1.6rem;
   }
}
.Polaris-DisplayText {
    margin:0;
}
.Polaris-DisplayText--sizeSmall {
    font-size:1.6rem;
    font-weight:400;
    line-height:2.4rem;
}
@media (min-width: 40em) {
    .Polaris-DisplayText--sizeSmall {
        font-size:2rem;
        line-height:2.8rem;
   }
}
.Polaris-TextContainer > * + * {
    margin-top:1.6rem;
}
.Polaris-Label {
    margin-bottom:.4rem;
}
.Polaris-Label__Text {
    -webkit-tap-highlight-color:transparent;
}
.Polaris-TextField {
    position:relative;
    margin-bottom:1.6rem;
}
.Polaris-TextField--InlineError {
    margin-bottom:.4rem;
}
.Polaris-TextField__Input {
    width:100%;
    padding:.5rem 1.2rem;
    border:1px solid #c9cccf;
    border-top-color:#aeb4b9;
    border-radius:4px;
    box-shadow:none;
    line-height:2.4rem;
}
.Polaris-TextField__Input:focus {
    outline:none;
}
.Polaris-TextField__Backdrop:after {
    content:'';
    position:absolute;
    z-index:1;
    top:-.2rem;
    right:-.2rem;
    bottom:-.2rem;
    left:-.2rem;
    display:block;
    pointer-events:none;
    box-shadow:0 0 0 -.2rem #448fff;
    transition:box-shadow .1s cubic-bezier(0.64, 0, 0.35, 1);
    border-radius:5px;
}
.Polaris-TextField__Input:focus~.Polaris-TextField__Backdrop:after {
    box-shadow:0 0 0 .2rem #448fff;
}
.Polaris-InlineError {
    color:#d72c0d;
    margin-bottom:1.6rem;
}
